[user]
    name = nkwsqyyzx
    email = nk.wangshuangquan@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[help]
    format = html
[alias]
    br = branch
    ca = commit -a
    ci = commit
    co = checkout
    st = status
    oln = log --pretty=oneline --since='2 days ago'
    olg = log -p -1
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue) <%an>%Creset' --abbrev-commit --
    amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
    zip = !git archive --format zip master --output
    zipHead = !git archive --format=zip HEAD --output
    rmd = !git ls-files -d  -z | xargs -0 git rm
[log]
    data = iso
[merge]
    tool = gvimdiff
[mergetool "gvimdiff"]
    cmd = gvim -f -d $MERGED $LOCAL $REMOTE
    trustExitCode = false
[core]
    excludesfile = ~/conf/.gitignore_global
[i18n]
	commitencoding = utf-8
	logoutputencoding = gbk
