[user]
	name = nkwsqyyzx
    email = nk.wangshuangquan@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[help]
    format = html
[alias]
    br = branch
    ca = commit -a
    ci = commit
	co = checkout
    st = status

